body {
    background-color: gray;
}

@media screen and (min-width: 1200px) {
	#ng-view {
		width: 75%;
		margin: 0 auto;
	}
}

/* Bootstrap Overrides */
.btn {
	border: none;
}

/* Global Buttons */
.post-btn {
	color: white;
	padding: 2px;
	border: none;
}

.post-btn:hover,
.post-btn:focus {
	background-color: white;
	outline: 1px solid black;
	color: black;
}

.upvote-post-btn {
	background-color: #16A228;
}

.delete-post-btn {
	background-color: #E43636;
}

/* Errors */
#errors-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #FFCCCC;
	border: none;
}

.error-container > * {
	display: inline;
}

.error-container hr {
	display: block;
	margin: 10px;
	border-color: black;
}

.delete-all-errors-btn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.delete-all-errors-btn,
.delete-error-btn {
	color: red;
	background: none;
	padding: 0;
}

.delete-all-errors-btn:hover,
.delete-all-errors-btn:focus,
.delete-error-btn:hover,
.delete-error-btn:focus {
	color: black;
}

/* Icons */
.icon-center {
	text-align: center;
}

/* Angular Template Fix */
[ng-cloak],
.ng-cloak {
	display: none !important;
}