<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>NodePress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
    <base href="/">

    <!-- Bower Styles -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- Font-Awesome doesn't really work with usemin -->
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <!-- build:css(angular) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!-- endbuild -->

</head>

<body ng-controller="MainCtrl">
    <div id="pageContainer" class="container-fluid">

        <nav id="nav" class="row">
            <div class="col-xs-12 nav-container">
                <div class="nav-user" ng-cloak>
                    <h4 class="username">{{ user.username || 'guest' | capitalize }}</h4>
                    <a ng-show="user" ng-click="logout()" class="btn btn-default">Logout</a>
                    <span ng-show="!user">
                        <a href="/login" class="btn btn-default">Login</a>
                        <a href="/register" class="btn btn-default">Register</a>
                    </span>
                </div>
            </div>
        </nav>

        <!-- Global error area -->
        <div id="errors-container" ng-show="haveErrors()" class="well" ng-cloak>
            <button type="button" ng-click="clearErrors()" class="btn delete-all-errors-btn">
                <i class="fa fa-times-circle fa-fw"></i>
            </button>
            <div class="error-container" ng-repeat="error in errors">
                <button type="button" ng-click="removeError(error)" class="btn delete-error-btn">
                    <i class="fa fa-times fa-fw"></i>
                </button>
                <p><span class="error-type"><b>{{ error.type }} error: </b></span><span class="error-text">{{ error.error }}</span></p>
                <hr ng-if="errors.length > 1 && !$last">
            </div>
        </div>

        <!-- Angular templates rendered here -->
        <div id="ng-view" ng-view></div>

    </div>

    <!-- Bower Components -->
    <!-- build:js(.) scripts/vendor.js -->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/ckeditor/ckeditor.js"></script>
    <script src="components/angular-ckeditor/angular-ckeditor.js"></script>
    <!-- endbuild -->

    <!-- Angular App -->
    <!-- build:js(angular) scripts/angular.js -->
    <script src="app/app.js"></script>
    <script src="app/services/post.js"></script>
    <script src="app/services/tokenhelper.js"></script>
    <script src="app/services/error.js"></script>
    <script src="app/controllers/MainCtrl.js"></script>
    <script src="app/controllers/AuthCtrl.js"></script>
    <script src="app/controllers/index/IndexCtrl.js"></script>
    <script src="app/filters/capitalize.js"></script>
    <script src="app/directives/postArea.js"></script>
    <!-- endbuild -->

    <!-- Custom Scripts -->
    <!-- build:js(angular) scripts/custom.js -->
    <script src="scripts/functions.js"></script>
    <!-- endbuild -->

</body>
</html>